<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  
  <!-- <timestamp key="byDate" datePattern="yyyyMMdd"/> -->
  
  <appender name="REQLOG" class="ch.qos.logback.core.FileAppender">
    <!-- Name of the file where the log messages are written -->
    <!--<file>requests-${byDate}.log</file>-->
    <file>requests.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%n</pattern>
    </encoder>
  </appender>

  <logger name="it.pwned.telegram.bot.api.debug" level="DEBUG" additivity="false">
    <appender-ref ref="REQLOG" />
  </logger>

</configuration>