app.name = Sample Bot
spring.application.name= Sample Bot
bot.token=
bot.executor.core-pool-size=15
bot.executor.max-pool-size=15
imgur.client-id=
imgur.commands-file=./imgurcommands.txt
openweather.api-key=
spring.main.web-environment=false
spring.main.show-banner=true
spring.jmx.enabled=false
logging.file=samplebot.log

spring.datasource.url=jdbc:postgresql://localhost/bot
spring.datasource.username=postgres
spring.datasource.password=
spring.datasource.driverClassName=org.postgresql.Driver

spring.jpa.generate-ddl=true

shell.auth.simple.user.name=
shell.auth.simple.user.password=
shell.command-path-patterns=classpath*:/crash/commands/**
shell.ssh.enabled=true
shell.telnet.enabled=false