app.name = Sample Bot
spring.application.name= Sample Bot
bot.token=
bot.api.updates.timeout=60
bot.executor.core-pool-size=15
bot.executor.max-pool-size=15
spring.main.web-environment=false
spring.main.show-banner=true
spring.jmx.enabled=false

logging.config=classpath:logback.xml
logging.file=samplebot.log
logging.level.it.pwned.telegram.samplebot.trivia=INFO
logging.level.it.pwned.telegram.bot=INFO
logging.level.it.pwned.telegram.bot.api.log=INFO

spring.datasource.url=jdbc:h2:file:./database/botdb;MULTI_THREADED=1

flyway.enabled=true
